/*

.slide .artFile {
  transition: all 2s ease;
  -webkit-transform: translateX(-60px);
  transform: translateX(-60px);
  opacity: 0;
}

.slide .profileImage,
.slide .twitterHandleText,
.slide .artistBioText,
.slide .qrCodeImage {
  transition: all 2s ease;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  opacity: 0;
}

.slide.animateIn.previous .artFile,
.slide.current .artFile,
.slide.animateIn.next .artFile,
.slide.animateIn.previous .profileImage,
.slide.current .profileImage,
.slide.animateIn.next .profileImage,
.slide.animateIn.previous .twitterHandleText,
.slide.current .twitterHandleText,
.slide.animateIn.next .twitterHandleText,
.slide.animateIn.previous .artistBioText,
.slide.current .artistBioText,
.slide.animateIn.next .artistBioText,
.slide.animateIn.previous .qrCodeImage,
.slide.current .qrCodeImage,
.slide.animateIn.next .qrCodeImage {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 1;
}

.slide.animateIn.previous .twitterHandleText,
.slide.current .twitterHandleText,
.slide.animateIn.next .twitterHandleText {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.slide.animateIn.previous .artistBioText,
.slide.current .artistBioText,
.slide.animateIn.next .artistBioText {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.slide.animateIn.previous .qrCodeImage,
.slide.current .qrCodeImage,
.slide.animateIn.next .qrCodeImage {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

*/
