.card {
  background-color: var(--black);
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  height: 100vh;
  width: 100%;
}
.card .artFrame {
  background-color: orangered;
  position: absolute;
  height: 70vh;
  top: 0;
  width: 100%;
}
.artFrame .artFile {
  background-color: yellow;
  mix-blend-mode: normal;
  position: absolute;
  object-fit: contain;
  height: 80%;
  width: 100%;
}

.artFrame .artTitle {
  background-color: blueviolet;
  color: var(--white);
  font-family: var(--font-family-arimo);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  position: absolute;
  top: 81%;
  font-size: 3vh;
  width: 100%;
}
.artFrame .artDescription {
  background-color: pink;
  color: var(--white);
  font-family: var(--font-family-arimo);
  font-style: normal;
  font-weight: 400;
  text-align: center;
  position: absolute;
  font-size: 2vh;
  top: 87%;
  height: 12%;
  width: 100%;
}
.artist {
  background-color: rebeccapurple;
  position: absolute;
  top: 71vh;
  height: 21vh;
  width: 100%;
}

.artist .profileImage {
  background-color: transparent;
  mix-blend-mode: normal;
  border-radius: 50%;
  object-fit: cover;
  left: calc(50% - 2.5vh);
  position: absolute;
  height: 5vh;
}

.artist .twitterHandleText {
  background-color: blue;
  color: var(--white);
  font-family: var(--font-family-arimo);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  font-size: 2.5vh;
  height: 30%;
  top: 25%;
  width: 100%;
}

.artist .artistBioText {
  background-color: green;
  color: var(--white);
  font-family: var(--font-family-arimo);
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  overflow-y: hidden;
  padding-left: 15vw;
  padding-right: 15vw;
  top: 40%;
  height: 55%;
  width: 100%;
}

.card .qrCodeFrame {
  background-color: orange;
  top: 93vh;
  height: 6vh;
  position: absolute;
  width: 100%;
}

.card .qrCodeImage {
  background-color: transparent;
  height: 5vh;
  mix-blend-mode: normal;
  object-fit: contain;
  position: absolute;
  top: calc(50% - 2.5vh);
  width: 100%;
}