:root {
  --black: #000000;
  --white: #ffffff;

  --font-size-l: 48px;
  --font-size-m: 42px;
  --font-size-s: 36px;
  --font-size-xl: 50px;
  --font-size-xxl: 96px;

  --font-family-arimo: "Arimo", Helvetica;
}
