.submission {
    background-color: var(--black);
    height: 100vh;
    margin: 0px;
    min-height: 3840px;
    min-width: 2160px;
    mix-blend-mode: normal;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }
  
  .submission .input-the-nft-token-address-03UtQu {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-arimo);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 400;
    height: 55px;
    left: 769px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 20px;
    width: auto;
  }
  
  .submission .input-frame-03UtQu {
    background-color: #d9d9d9;
    border-radius: 5px;
    height: 60px;
    left: 548px;
    mix-blend-mode: normal;
    position: absolute;
    top: 95px;
    width: 1065px;
  }
  
  .submission .input-box-THA6wH {
    background-color: transparent;
    border: 0;
    color: var(--black);
    font-family: var(--font-family-arimo);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: 41px;
    left: 64px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    padding: 0;
    position: relative;
    resize: none;
    text-align: center;
    top: 9px;
    width: 936px;
  }
  
  .submission .input-box-THA6wH::placeholder {
    color: #00000099;
  }
  
  .submission .submit-frame-03UtQu {
    background-color: transparent;
    height: 136px;
    left: 540px;
    position: absolute;
    top: 175px;
    width: 1080px;
  }
  
  .submission .submit-button-iMW9qQ {
    background-color: #00ffa3;
    border-radius: 10px;
    cursor: pointer;
    height: 126px;
    left: calc(50.00% - 237px);
    mix-blend-mode: normal;
    pointer-events: auto;
    position: relative;
    top: calc(50.00% - 63px);
    transition: all 0.2s ease;
    width: 474px;
  }
  
  .submission .submit-button-iMW9qQ:hover {
    background-color: #03E1FF
  }
  
  .submission .submit-wIbCCc {
    background-color: transparent;
    height: 55px;
    left: 135px;
    mix-blend-mode: normal;
    position: absolute;
    top: 40px;
    width: 204px;
  }
  
  .submission .proceed-frame-03UtQu {
    background-color: transparent;
    height: 136px;
    left: 540px;
    position: absolute;
    top: 331px;
    width: 1080px;
  }
  
  .submission .proceed-button-YTGg5t {
    background-color: #dc1fff;
    border-radius: 10px;
    cursor: pointer;
    height: 126px;
    left: calc(50.00% - 237px);
    mix-blend-mode: normal;
    pointer-events: auto;
    position: relative;
    top: calc(50.00% - 63px);
    transition: all 0.2s ease;
    width: 474px;
  }
  
  .submission .proceed-button-YTGg5t:hover {
    background-color: #03E1FF
  }
  
  .submission .proceed-wxuvQK {
    background-color: transparent;
    height: 55px;
    left: 118px;
    mix-blend-mode: normal;
    position: absolute;
    top: 40px;
    width: 237px;
  }
  
  .submission .output-frame-03UtQu {
    background-color: transparent;
    height: 1240px;
    left: 540px;
    position: absolute;
    top: 487px;
    width: 1080px;
  }
  
  .submission .output-art-frame-WK0S52 {
    background-color: transparent;
    height: 1020px;
    left: 40px;
    position: absolute;
    top: 40px;
    width: 1000px;
  }
  
  .submission .output-art-mZ0xXQ {
    background-color: transparent;
    height: 1000px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 1000px;
  }
  
  .submission .output-name-WK0S52 {
    background-color: transparent;
    height: 130px;
    left: 0px;
    position: absolute;
    top: 1100px;
    width: 1080px;
  }
  
  .submission .output-name-sBiOAQ {
    background-color: transparent;
    color: var(--white);
    font-family: var(--font-family-arimo);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 400;
    height: 110px;
    left: 436px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    position: absolute;
    text-align: center;
    top: 10px;
    width: auto;
  }  